:root {
  --azul-tatu: #306ee7;
  --cinza-claro: #404451;
  --cinza-escuro: #222222;
}

* {
  font-family: "KodeMono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cinza-escuro);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.navegation-background {
  display: flex;
  width: 80%;
  height: 60%;
  border-radius: 100px;
  background-color: var(--cinza-claro);
  box-shadow: 0px 0px 10px black;
}

.navegation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 100px;
}

h1,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  outline: none;
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 25px;
  font-weight: 100;
}

.actived {
  border: 2px solid var(--azul-tatu);
  box-shadow: 0px 0px 15px var(--azul-tatu);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  gap: 10px;
  overflow-y: auto;
  padding-top: 10px;
}

.container-track {
  border-bottom: 3px solid var(--cinza-claro);
  width: 90%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.container-track:hover {
  border-bottom: 3px solid var(--azul-tatu);
  box-shadow: 0px 0px 10px var(--azul-tatu);
  border-radius: 0px 50px 50px 0px;
}

.track-informations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 70%;
  height: 100%;
  gap: 10px;
}

.track-name {
  white-space: nowrap;
  animation: slide 12s linear infinite;
}

.track-name p {
  font-size: 20px;
}
.track-playlist p {
  font-size: 15px;
}

.carrousel {
  animation: carrousel 12s linear infinite;
}

.track-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-tatu);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.play-button p {
  display: none;
}

.player-button-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid white;
  margin-left: 11%;
}

.playbackbar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  color: white;
  background-color: var(--cinza-claro);
  border-radius: 15px 15px 0 0;
}

.playbackbar-informations {
  width: 90%;
  margin-inline: 6%;
  overflow: hidden;
}

.playbackbarTrack-name {
  white-space: nowrap;
  width: 100%;
  font-size: 100%;
}

.playbackbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.playbackbar-buttons button {
  background: none;
  border: 0;
  color: white;
  width: 15%;
  padding: 0;
}

button img {
  width: 45%;
}

@keyframes carrousel {
  0% {
    transform: translate(20%, 0);
  }
  50% {
    transform: translate(-150%, 0);
  }
  51% {
    transform: translate(100050%, 0);
  }
  52% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(20%, 0);
  }
}
