:root {
  --azul-tatu: #306ee7;
  --cinza-claro: #404451;
  --cinza-escuro: #222222;
}
* {
  font-family: "KodeMono", monospace;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: var(--cinza-escuro);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
}
.navegation-background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 47%;
  border-radius: 1000px;
  background-color: var(--cinza-claro);
}
.navegation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 10000px;
}
a {
  color: white;
  text-decoration: none;
}

.actived {
  border: 2px solid var(--azul-tatu);
  box-shadow: 0px 0px 12px 1px var(--azul-tatu);
}
.navegation-button h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 100;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  overflow-y: scroll;
  padding-block: 5%;
}
.container-track {
  border-bottom: 3px solid var(--cinza-claro);
  width: 93%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-track:hover {
  border-bottom: 3px solid var(--azul-tatu);
  box-shadow: 0px 0px 12px 1px var(--azul-tatu);
  transition: 1s;
  border-radius: 20px 50px 50px 20px;
}

.track-name-no-fade::before,
.track-name-no-fade::after {
  content: none;
}

.track-informations {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  width: 70%;
  height: 100px;
  margin-left: 1%;
}

.trackSection-name-fade {
  position: relative;
}

.trackSection-name-fade::before,
.trackSection-name-fade::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 2;
}

.trackSection-name-fade::before {
  margin-left: -1px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--cinza-escuro),
    rgba(255, 255, 255, 0)
  );
}

.trackSection-name-fade::after {
  margin-right: -1px;
  top: 5%;
  right: 0;
  background: linear-gradient(
    to left,
    var(--cinza-escuro),
    rgba(255, 255, 255, 0)
  );
}

.trackSection-track-name {
  width: 100%;
  white-space: nowrap;
  font-size: 110%;
}

.trackSection-track-playlist {
  font-size: 110%;
}
.trackSection-track-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.carousel-small-trackSection {
  animation: carousel-small 20s linear infinite;
}

.carousel-medium-trackSection {
  animation: carousel-medium 25s linear infinite;
}

.carousel-large-trackSection {
  animation: carousel-large 30s linear infinite;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-tatu);
  height: 35px;
  width: 35px;
  border-radius: 100000px;
}

.play-button p {
  display: none;
}

.player-button-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid white;
  margin-left: 11%;
}
.playbackbar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  color: white;
  background-color: var(--cinza-claro);
  border-radius: 15px 15px 0px 0px;
}
.playbackbar-informations {
  width: 90%;
  margin-inline: 6%;
  overflow: hidden;
}
.playbackbar-track-name {
  white-space: nowrap;
  width: 100%;
  font-size: 100%;
}

.playbackbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.playbackbar-buttons button {
  background: none;
  border: 0;
  color: white;
  width: 15%;
  padding: 0;
}
button img {
  width: 45%;
}

.playbackbar-name-fade {
  position: relative;
}

.playbackbar-name-fade::before,
.playbackbar-name-fade::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  z-index: 2;
}

.playbackbar-name-fade::before {
  margin-left: -1px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--cinza-claro),
    rgba(255, 255, 255, 0)
  );
}

.playbackbar-name-fade::after {
  margin-right: -1px;
  top: 5%;
  right: 0;
  background: linear-gradient(
    to left,
    var(--cinza-claro),
    rgba(255, 255, 255, 0)
  );
}

.no-fade.playbackbar-name-fade::before {
  width: 0px !important;
}

.carousel-small-playbackbar {
  animation: carousel-small 20s linear infinite;
}

.carousel-medium-playbackbar {
  animation: carousel-medium 25s linear infinite;
}

.carousel-large-playbackbar {
  animation: carousel-large 30s linear infinite;
}

@keyframes carousel-small {
  0% {
    transform: translate(0%, 0);
  }
  20% {
    transform: translate(0%, 0);
  }
  75% {
    transform: translate(-155%, 0);
  }
  75.10% {
    transform: translate(100050%, 0);
  }
  75.11% {
    transform: translate(95%, 0);
  }
}

@keyframes carousel-medium {
  0% {
    transform: translate(0%, 0);
  }
  20% {
    transform: translate(0%, 0);
  }
  75% {
    transform: translate(-270%, 0);
  }
  75.10% {
    transform: translate(100050%, 0);
  }
  75.11% {
    transform: translate(95%, 0);
  }
}

@keyframes carousel-large {
  0% {
    transform: translate(0%, 0);
  }
  20% {
    transform: translate(0%, 0);
  }
  75% {
    transform: translate(-370%, 0);
  }
  75.10% {
    transform: translate(100050%, 0);
  }
  75.11% {
    transform: translate(95%, 0);
  }
}
