:root {
  --azul-tatu: #306ee7;
  --cinza-claro: #404451;
  --cinza-escuro: #222222;
}
* {
  font-family: "KodeMono", monospace;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: var(--cinza-escuro);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
}
.navegation-background {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 47%;
  border-radius: 1000px;
  background-color: var(--cinza-claro);
}
.navegation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-radius: 10000px;
}
a {
  color: white;
  text-decoration: none;
}

.actived {
  border: 2px solid var(--azul-tatu);
  box-shadow: 0px 0px 12px 1px var(--azul-tatu);
}
.navegation-button h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 100;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  overflow-y: scroll;
  padding-block: 5%;
}
.container-track {
  border-bottom: 3px solid var(--cinza-claro);
  width: 93%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-track:hover {
  border-bottom: 3px solid var(--azul-tatu);
  box-shadow: 0px 0px 12px 1px var(--azul-tatu);
  transition: 1s;
  border-radius: 20px 50px 50px 20px;
}

.track-informations {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  width: 70%;
  height: 100px;
  margin-left: 7%;
}

.carrousel-small {
  animation: carrousel-small 15s linear infinite;
}

.carrousel-medium {
  animation: carrousel-medium 25s linear infinite;
}

.carrousel-large {
  animation: carrousel-large 30s linear infinite;
}

.track-name {
  width: 100%;
  white-space: nowrap;
  font-size: 110%;
}

.track-playlist {
  font-size: 110%;
}
.track-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-tatu);
  height: 35px;
  width: 35px;
  border-radius: 100000px;
}

.play-button p {
  display: none;
}

.player-button-triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid white;
  margin-left: 11%;
}
.playbackbar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  color: white;
  background-color: var(--cinza-claro);
  border-radius: 15px 15px 0px 0px;
}
.playbackbar-informations {
  width: 90%;
  margin-inline: 6%;
  overflow: hidden;
}
.playbackbarTrack-name {
  white-space: nowrap;
  width: 100%;
  font-size: 100%;
}

.playbackbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.playbackbar-buttons button {
  background: none;
  border: 0;
  color: white;
  width: 15%;
  padding: 0;
}
button img {
  width: 45%;
}

@keyframes carrousel-small {
  0% {
    transform: translate(0%, 0);
  }
  15% {
    transform: translate(0%, 0);
  }
  54% {
    transform: translate(-170%, 0);
  }
  54.5% {
    transform: translate(100050%, 0);
  }
  55% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0%, 0);
  }
}

@keyframes carrousel-medium {
  0% {
    transform: translate(0%, 0);
  }
  15% {
    transform: translate(0%, 0);
  }
  54% {
    transform: translate(-370%, 0);
  }
  54.5% {
    transform: translate(100050%, 0);
  }
  55% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0%, 0);
  }
}

@keyframes carrousel-large {
  0% {
    transform: translate(0%, 0);
  }
  15% {
    transform: translate(0%, 0);
  }
  54% {
    transform: translate(-470%, 0);
  }
  54.5% {
    transform: translate(100050%, 0);
  }
  55% {
    transform: translate(100%, 0);
  }
  77% {
    transform: translate(0%, 0);
  }
}
