* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "KodeMono";
    color: white;
}

:root {
    --kreck-blue: #306ee7;
    --kreck-dark-blue: #2557bb;
    --gray: #404451;
    --dark-gray: #222222;
}

@font-face {
    font-family: "KodeMono";
    src: url("./assets/fonts/KodeMono-VariableFont_wght.ttf");
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    padding: 6px;
    gap: 8px;
    background-color: var(--dark-gray);
}

header {
    font-size: 40px;
    font-weight: 600;

    &:hover {
        text-shadow: 0 0 15px var(--kreck-blue);
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 9px;

    #connect-button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 42px;
        width: 150px;

        border: none;
        border-radius: 8px;
        background-color: var(--kreck-blue);

        text-align: center;
        font-size: 14px;
    }

    .icon-button {
        display: flex;
        align-items: center;
        background-color: var(--kreck-dark-blue);
        border: none;
        border-radius: 8px;
        padding: 4px;

        img {
            width: 22px;
            height: 22px;
        }
    }

    button:hover {
        box-shadow: 0 0px 10px var(--kreck-blue);
        cursor: pointer;
    }

    button:focus {
        border: none;
        outline: none;
        box-shadow: 0 0px 10px var(--kreck-blue);
        transition: 0.5s;
    }
}
