.visible-local-ip {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  position: fixed;
  background-color: #404451;
  width: 90%;
  height: 70px;
  z-index: 1000;
  border-radius: 5px;
}

.local-address {
  color: lightgreen;
}

.invisible-local-ip {
  display: none;
}
